# Run manually to reformat a file:
# clang-format -i --style=file <file>
BasedOnStyle: Google
FixNamespaceComments: false
ColumnLimit: 120
UseTab: Never
SpaceAfterTemplateKeyword: false
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: Empty
