<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="senior-sigan" />
    <meta name="description" content="Images search demo that is build on VGG and kNN" />
    <link rel="canonical" href="http://sigan.1der.link/kawaii_search" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Kawaii Search">
    <meta name="application-name" content="Kawaii Search">

    <meta property="og:url" content="http://sigan.1der.link/kawaii_search">
    <meta property="og:description" content="Images search demo that is build on VGG and kNN">
    <meta property="og:image" content="https://i.imgur.com/J1dCoV9.png">
    <meta property="og:title" content="Kawaii Search">

    <meta name="keywords" content="machine learning,AI,VGG19,VGG16,kNN,neural network,conv net,images,similar">

    <title>Kawaii Search</title>
</head>
<body>
<div class="container">
    <h1>Kawaii search</h1>
    <p><a href="https://github.com/blan4/ImagesSimilarityDemo">GitHub</a></p>

    <section>
        <form method="POST" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">I'm lucky</button>
        </form>
    </section>

    <section>
        {% for file in files %}
        <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
            <a href="{{file[0][1]}}" target="_blank"><img src="{{ file[0][0] }}" height="300px"></a>
            <figcaption>{{ "{0:.4f}".format(file[1]) }}</figcaption>
        </figure>
        {% endfor %}
    </section>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46941852 = new Ya.Metrika({
                    id:46941852,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46941852" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>